<div class="footer">
	<p class="site_info">
		<a href="{@url('Archiver')}">Archiver</a> <a href="{@sitemapurl()}">Sitemap</a>
		<a href="javascript:void(0)">关于我们</a> <a href="javascript:void(0)">联系我们</a><a
			href="http://www.miibeian.gov.cn" target="_blank">{$web_icp}</a>{$web_tongji}<br />
		{$web_copyright}
	</p>
	<p class="copyright">
		Powered by <a href="{$sys_url}" target="_blank"> <strong
			style="color: #E00764">{$sys_name}</strong></a><small
			style="color: #555555">{$sys_ver}</span></small> Code &copy; 2008-2012
	</p>
</div>
</div>
</body>
</html>