<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>管理登录 - {$sys_name} {$sys_ver}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel='stylesheet' type='text/css'
		href='images/admin/admin_login.css'>
		<script>
function loginok(form){
	if (form.login_name.value==""){
		alert("用户名不能为空！");
		form.login_name.focus();
		return (false);
	}
	if (form.login_pwd.value==""){
		alert("密码不能为空！");
		form.login_pwd.focus();
		return (false);
	}
	return (true);
}
if(self!=top){
	top.location=self.location;
}
</script>
</head>
<body>
	<div class="main">
		<div class="title">&nbsp;</div>
		<div class="login">
			<form action="?c=Main&a=login" method="post" name="gxcms"
				onsubmit="return loginok(this)">
				<div class="inputbox">
					<dl>
						<dd>用户名</dd>
						<dd>
							<input type="text" name="name" id="login_name" size="25"
								onfocus="this.style.borderColor='#fc9938'"
								onblur="this.style.borderColor='#dcdcdc'" />
						</dd>
						<dd>密码</dd>
						<dd>
							<input type="password" name="password" id="login_pwd" size="25"
								onfocus="this.style.borderColor='#fc9938'"
								onblur="this.style.borderColor='#dcdcdc'" />
						</dd>
						<dd>
							<input name="submit" type="submit" value="" class="input" /> <input
								name="post" type="hidden" value="true" class="input" />
						</dd>
					</dl>
				</div>
				<div class="butbox">
					<dl>
						<dd></dd>
					</dl>
				</div>
				<div style="clear: both"></div>
			</form>
		</div>
	</div>
	<div class="copyright">
		Powered by <a href="{$sys_url}" target="_blank">{$sys_name}</a> <small>{$sys_ver}</small>
		Copyright &copy;2011-2012
	</div>
	<!--请勿删除以下统计代码 -->
	<div style="display: none">
		<script src="http://s13.cnzz.com/stat.php?id=3726890&web_id=3726890"
			language="JavaScript"></script>
	</div>
</body>
</html>